<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style media="screen">
        body {
            padding: 50px;
            font: 16px Helvetica, Arial;
        }
    </style>
</head>

<body>
    <h2>
        <%= userName %>
    </h2>
    <h1>Account Configuration</h1>
    <div>
        <h3>CoinbasePro - portfolio API Key</h3>
        <form action="/api/portfolio/create" method="POST">
            <label for="apiKey">API key:</label><br>
            <input type="text" id="apiKey" name="apiKey"><br>
            <label for="b64Secret">Secret:</label><br>
            <input type="text" id="b64Secret" name="b64Secret">
            <label for="passphrase">Passphrase:</label><br>
            <input type="text" id="passphrase" name="passphrase">

            <button type="submit">Submit API key</button>
        </form>
    </div>

</body>

</html>