# Base configs
GCLOUD_PROJECT_ID= # TODO: GCP project
LOCAL_DEV_HOME= # TODO: path to your home directory
TRADEBOT_PUBSUB_TOPIC="foo-bar"

# Runner args
PROFILE_NAMESPACE="SANDBOX"
PROFILE_IDENTIFIER= # Optional, only used for some local scripts 

# Frontend
EXPRSS_SESS_SECRET= # TODO: some secret used to encrypt user session tokens
COINBASE_CLIENT_ID= # TODO: OAuth2 client ID
COINBASE_CLIENT_SECRET= # TODO: OAuth2 client secret
